{% load liquidvirtue_extras %}
{% if page_type == 'popular' %}
	<div class="timefilter">
		<button id="pop_alltime" class="btn_x" onclick="update_time_frame( 'alltime', 'popular' );updatePage({{page_number}}, '{{page_type}}')">All Time</button>
		<button id="pop_month" class="btn" onclick="update_time_frame( 'month', 'popular' );updatePage({{page_number}}, '{{page_type}}')">Month</button>
		<button id="pop_week" class="btn" onclick="update_time_frame( 'week', 'popular' );updatePage({{page_number}}, '{{page_type}}')">Week</button>
		<button id="pop_day" class="btn" onclick="update_time_frame( 'day', 'popular' );updatePage({{page_number}}, '{{page_type}}')">Day</button>
	</div>
{% endif %}
<!-- max_pages: {{max_pages}} page_type: {{page_type}} page_number: {{page_number}} num_videos: {{num_videos}} -->
<div class="next" onClick="updatePage({{page_number|add:"1"}}, '{{page_type}}')">Next</div>
<div class="prev" onClick="updatePage({{page_number|add:"-1"}}, '{{page_type}}')">Prev</div>
<div class="list">
{% for index in start_page|get_range:end_page %} <!-- get_range is EXCLUSIVE to the second value, so need to add one -->
	<div onClick="updatePage({{index}}, '{{page_type}}')"
	{% if page_number == index %}
		class="x"
	{% endif %}
	>{{index}}</div>
{% endfor %}
</div>