
<button id="playpause" class="pause"></button><button id="progress" class="progressBar"><div id="elapsed" class="elapsed"></div></button>
<h1 id="title_big">{{title}}</h1><p><b onclick="window.open('http://www.youtube.com/{{channel_name}}')">{{channel_name}}</b> ({{upload_date_text}})<br />
<div id="viewpost" class="viewpost" onclick="window.open('{{watch_page_url}}')"><p>View post on Youtube</p></div>
<div class="btnspace"></div>
<div id="sharesong" class="sharesong" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.liquidvirtue.com%2Fid%2F{{lv_video_id}}%2F&t=The%20newest%20drum%20and%20bass%20tracks')"><p>Share this track on Facebook</p></div>
<div class="btnspace"></div>
<div id="like_big" class="{{class_name}}" onclick="hit_like( '{{lv_video_id}}', this.id )"><p>{{alt_text}}</p></div>